html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Pinewood";
  src: local('Pinewood'), url(../assets/fonts/Pinewood-gmE1.ttf) format('truetype');
}