.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: tan;
  justify-content: space-around;
  align-items: center;
  background-color: #20b021;
}

#title {
  font-family: Pinewood, serif;
  color: #9e6506;
  font-size: 36px;
}

#shop {
  font-family:'Times New Roman', Times, serif;
}

.nav .cart-sum {
  font-size: 26px;
  padding-bottom: 5px;
  margin-left: 5px;
}

.nav a:link {
  text-decoration: none;
}

.nav a:visited {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  #title {
    font-size: 25px;
  }
  .nav a {
    font-size: 10px;
  }

  .nav .cart-sum {
    font-size: 22px;
  }
}
